{
  "presets": [
    [
      // Targets come from the "browserslist" field in package.json
      "@babel/preset-env",
      {
        // Do not transform modules to CJS
        "modules": false
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ]
}
